html,
body {
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.crossword {
    border: 5px solid black;
    display: grid;
    margin: 25px;
    background-color: black;
    grid-gap: 2px;
    z-index: 0;
}

.crossword-box {
    box-sizing: border-box;
    text-align: center;
    font-size: 1.25em;
    width: 30px;
    height: 30px;
    padding: 0px;
    border: none;
    background-color: white;
}

.crossword-box input:hover {
    cursor: pointer;
}

.crossword-box input {
    width: 26px;
    height: 26px;
    border: none;
    font-size: 1.25em;
    text-align: center;
    text-transform: uppercase;
}

.crossword-box input:focus {
    outline: none;
}

.posIndicator {
    width: auto;
    margin: 0px;
    padding: 2px;
    font-size: 6pt;
    transform: translateY(-200%);
    text-align: left;
    user-select: none;
    pointer-events: none;
    font-weight: bolder;
}

.selected {
    background-color: yellow;
}

.cursor {
    width: 0;
    height: 0;
    z-index: 1;
    background-size: 20px;
    position: absolute;
    transition: left 0.01s linear, top 0.01s linear;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid red;
    color: red;
}

.cluesContainer {
    display: flex;
}

.cluesContainer .cluesColumn {
    margin: 20px;
    max-width: 200px;
    word-wrap: break-word;
}

.crosswordClue {
    display: block;
    padding: 5px 2px;
}

.crosswordClue:hover {
    cursor: pointer;
}

.cursorName {
    transform: translate(20px, -15px);
    width: 200px;
}

.optionContainer {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    width: 535px;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}
